
body {
    background-image:url('bg.png');
    font-family: 'Montserrat', sans-serif;
}


.title {
    font-size:180%;
    padding:5px;
}

.platforms {
    align-items:stretch !important;
    justify-content: center;
}

.platform-card {
    flex-grow: 1;
}

.intro {
    font-size:120%;
    font-style: italic;
    text-align:center;
    margin-bottom:15px;
}

footer a {
    margin-left:10px;
    margin-right:10px;
}

footer img {
    opacity:0.5;
    width:120px;
}

footer img:hover {
    opacity:1;
}

.training-img, .presse-img {
    margin-right:15px;
}

.presse-logo {
    opacity:0.5;
}

.date {
    display:flex;
}

.date-big {
    display:flex;
    justify-content: center;
}

.inactive {
    opacity:0.80;
}

.bg-grey {
    background-color:#fafafa;
}

#r4-map {
  width: 100%;
  height:500px;
}


.logo {
    max-width:200px;
    max-height:100px;
}