{% extends 'base.html.twig' %}

{% block body %}

<h3>Organisation committee</h3>

<a href="https://diff.u-bordeaux.fr/sympa/subscribe/r4-nouvelle-aquitaine" target="_blank">If you want to join the mailing list, subscribe here</a>

<ul>
    <li>I have question/suggestion about the working group</li>
    <li>I have a suggestion of talk or speaker</li>
    <li>I want to give a presentation</li>
</ul>

<h4>
&rarr; You can contact <a href="mailto:r4.robotique@gmail.com">r4.robotique@gmail.com</a>
(<span class="text-muted">Grégoire Passault</span>)
</h4>

<hr/>

<h3>Network management</h3>

<ul>
    <li>I have questions about the network structure itself</li>
    <li>I want to propose a new partnership with the network</li>
    <li>I want to get my lab in the network</li>
</ul>


<h4>
&rarr; You can contact <a href="olivier.ly@u-bordeaux.fr">olivier.ly@u-bordeaux.fr</a>
(<span class="text-muted">Olivier Ly</span>)
or
<a href="mailto:ouiddad.labbani-igbida@unilim.fr">ouiddad.labbani-igbida@unilim.fr</a>
(<span class="text-muted">Ouiddad Labbani-Igbida</span>)
</h4>

<hr/>

<h3>Steering committee</h3>


<ul>
    <li>Frederic Alexandre </li>
    <li>Serge Chaumette</li>
    <li>Mehdi Cherif </li>
    <li>Nadine Couture</li>
    <li>David Daney</li>
    <li>Laurent Gallon</li>
    <li>Jean-Pierre Gazeau</li>
    <li>Ouiddad Labbani-Igbida</li>
    <li>Olivier Ly</li>
    <li>Pierre Melchior</li>
    <li>Pierre-Yves Oudeyer</li>
    <li>Arnaud Revel</li>
    <li>Philippe Bidaud</li>
</ul>

{% endblock %}
