{% extends 'base.html.twig' %}

{% block body %}

<h3>Organisation committee</h3>
<h4 class="text-muted">Grégoire Passault</h4>

<ul>
    <li>I want to join the mailing list
    (<u>r4-nouvelle-aquitaine@diff.u-bordeaux.fr</u>, can only be contacted by internal members)</li>
    <li>I have question/suggestion about the working group</li>
    <li>I have a suggestion of talk or speaker</li>
    <li>I want to give a presentation</li>
</ul>

<h4>
&rarr; You can contact <a href="mailto:contact@r4-robotique.fr">contact@r4-robotique.fr</a>
</h4>

<hr/>

<h3>Network management</h3>
<h4 class="text-muted">Olivier Ly</h4>

<ul>
    <li>I have questions about the network structure itself</li>
    <li>I want to propose a new partnership with the network</li>
    <li>I want to get my lab in the network</li>
</ul>

<h4>
&rarr; You can contact <a href="olivier.ly@u-bordeaux.fr">olivier.ly@u-bordeaux.fr</a>
</h4>

{% endblock %}
