{% extends 'base.html.twig' %}

{% block body %}

<h3>Contact</h3>

<ul>
    <li>I want to join the mailing list
    (<u>r4-nouvelle-aquitaine@diff.u-bordeaux.fr</u>, can only be contacted by internal members)</li>
    <li>I have question/suggestion about the working group</li>
    <li>I have a suggestion of talk or speaker</li>
    <li>I want to give a presentation</li>
    <li>I have questions about the network structure itself</li>
    <li>I want to propose a new partnership with the network</li>
    <li>I want to get my lab in the network</li>
</ul>

<h4>
&rarr; You can contact <a href="r4.robotique@gmail.com">r4.robotique@gmail.com</a>
</h4>

{% endblock %}
