{% extends 'base.html.twig' %}

{% block body %}

<div class="cover">
    <div class="cover_entry" style="background-image:url('img/cover_rhoban.png')">
        <div class="img">
            <img src="img/logo_rhoban.png" />
        </div>
        <div class="desc">
            <div>
                <b>Rhoban Team, LaBRI, University of Bordeaux</b><br/>
            </div>
            <div>
                The Rhoban team works on legged/humanoid robots and also agricultural projects. They participate to the
                RoboCup international competition, in small-size soccer category.
            </div>
            <div>
                <br/>
                <span class="badge badge-success">autonomous</span>
                <span class="badge badge-success">legged</span>
                <span class="badge badge-success">humanoid</span>
                <span class="badge badge-success">ai</span>
                <span class="badge badge-success">robocup</span>
                <span class="badge badge-success">agricultural</span>

                <br>
                <a href="http://www.rhoban.com" target="_blank">http://www.rhoban.com</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}