{% extends 'base.html.twig' %}

{% block body %}

	<div class="intro">
        <b>R4 workshop première edition!</b><br/>
        ~ Lundi 8 et Mardi 9 novembre 2021 ~
        <br/>
        Pour toute question à propos de l'organisation, merci de contacter: <code>06.12.95.67.44</code>
	</div>

    <h2>Site</h2>

    <p>
        Merci à l'<a href="https://goo.gl/maps/cxgRyg5L6zSAGEdj6" target="_blank">ESTIA Bidart</a> d'accueillir la première
        édition du Workshop R4:<br/><br/>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.7076191845613!2d-1.5534449851026269!3d43.445822073834734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd511587a9f08cfd%3A0x57e75c3aa3c72fcf!2sEstia%20Berri%20Building%20Main%20Estia!5e0!3m2!1sen!2sfr!4v1636356040780!5m2!1sen!2sfr" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </p>

    <h2>Hôtel</h2>

    <p>
        <a href="https://goo.gl/maps/TJcECjuKqotBjBiN6" target="_blank">
        Hotel Mer & Golf Ilbarritz<br/>
        <em>
        Rue de la Roseraie<br/>
        64210 Bidart
        </em>
        </a><br/>
        Check-in à partir de 18h le dimanche 7 novembre
    </p>

    <h2>Vidéos</h2>

    <p>
        <a href="{{ path('workshop-videos') }}">Session video &raquo;</a>
    </p>

    <h2>Programme</h2>

    <table class="table table-striped bg-light">
    <tr>
        <th colspan="3" class="bg-secondary text-light text-center">
            Dimanche 7 novembre
        </th>
    </tr>
    <tr>
        <td>20:00</td>
        <td class="text-center">
            <span style="text-decoration:line-through">Diner au restaurant: La Ferme Ostalapia</span>
            <br/>
            <a href="https://goo.gl/maps/KecbihGnKUbxSeB77" target="_blank">
            <b>
            Diner au restaurant: Aux Pigeons Blancs
            </b>
            </a>
        </td>
    </tr>
    </table>

    <table class="table table-striped bg-light">
    <tr>
        <th colspan="3" class="bg-secondary text-light text-center">
            Lundi 8 novembre
        </th>
    </tr>
    <tr>
        <td>08:30</td>
        <td>
            <b>Introduction</b><br/>
            <ul>
                <li><em>Nadine Couture, Olivier Ly, Marianne Lamour</em></li>
                <li><em>Patxi Elissalde - Directeur général de l’ESTIA</em></li>
            </ul>
        </td>
        <td class="text-right fs-2"><big>Amphi 31</big></td>
    </tr>
    <tr>
        <td>08:50</td>
        <td>
            <b>Exposé Invité: Ex Machina (Machines, automates et robots dans l'Antiquité)</b><br/>
            <em>Annie Collogna</em>
        </td>
        <td class="text-right fs-2"><big>Amphi 31</big></td>
    </tr>
    <tr>
        <td>10:00</td>
        <td colspan="2" class="text-center">
            <b>Pause café</b>
        </td>
    </tr>
    <tr>
        <td>10:30</td>
        <td>
            <b>Cartographie de la Recherche en Robotique en Nouvelle Aquitaine</b><br/>
            <em>Ouiddad Labbani</em>
        </td>
        <td class="text-right fs-2"><big>Amphi 31</big></td>
    </tr>
    <tr>
        <td>11:00</td>
        <td>
            <b>Robot Control: A Personal View on Some Limits and Perspectives</b><br/>
            <em>Vincent Padois</em>
        </td>
        <td class="text-right fs-2"><big>Amphi 31</big></td>
    </tr>
    <tr>
        <td>11:30</td>
        <td>
            <b>La Robotique Spatiale : Les perspectives pour la recherche</b><br/>
            <em>Philippe Bidaud</em>
        </td>
        <td class="text-right fs-2"><big>Amphi 31</big></td>
    </tr>
    <tr>
        <td>12:00</td>
        <td>
            <b>Teasers vidéos</b>
        </td>
        <td class="text-right fs-2"><big>Amphi 31</big></td>
    </tr>
    <tr>
        <td>12:30</td>
        <td colspan="2" class="text-center">
            <a href="https://goo.gl/maps/osdhCvBp4ynyDwtr8" target="_blank"><b>Déjeuner au restaurant: Le Spot</b></a>
        </td>
    </tr>
    <tr>
        <td>14:30</td>
        <td>
            <b>Visite de la halle techno de ESTIA Berri</b><br/>
            <em>Cobot Art, Rain of Music, IDShoes/CETIA</em>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>15:30</td>
        <td colspan="2" class="text-center">
            <b>Transfert ESTIA &rarr; CompositAdour</b>
        </td>
    </tr>
    <tr>
        <td>16:00</td>
        <td>
            <b>Visite de CompositAdour / AddimAdour</b>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>17:30</td>
        <td>
            <b>Séance Poster et moment convivial</b>
        </td>
        <td class="text-right fs-2"><big>HALL RoboticAdour</big></td>
    </tr>
    <tr>
        <td>19:00</td>
        <td colspan="2" class="text-center">
            <b>Transfert CompositAdour &rarr; Restaurant</b>
        </td>
    </tr>
    <tr>
        <td>20:00</td>
        <td colspan="2" class="text-center">
            <a href="https://g.page/EPOQ-BIARRITZ?share" target="_blank"><b>Banquet au restaurant: EPOQ</b></a>
        </td>
    </tr>
    </table>





    <table class="table table-striped bg-light">
    <tr>
        <th colspan="3" class="bg-secondary text-light text-center">
            Mardi 9 novembre
        </th>
    </tr>

    <tr>
        <td rowspan="3">08:30</td>
        <td>
            <b>Ateliers</b>
        </td>
    </tr>
    <tr>
        <td>
        <b>Outils Modélisation</b><br/>
        MDA / Torque_QP / Pinocchio<br/>
        <em>Jean-Pierre Gazeau</em>
        </td>
        <td class="text-right fs-2"><big>TD33</big></td>
    </tr>
    <tr>
        <td>
        <b>Machine Learning</b><br/>
        <em>Xavier Hinaut</em>
        </td>
        <td class="text-right fs-2"><big>TD37</big></td>
    </tr>

    <tr>
        <td>10:00</td>
        <td colspan="2" class="text-center">
            <b>Pause café</b>
        </td>
    </tr>

    <tr>
        <td rowspan="3">10:30</td>
        <td>
            <b>Ateliers</b>
        </td>
    </tr>
    <tr>
        <td>
        <b>Systèmes multi-robots</b><br/>
        <em>Ouiddad Labbani</em>
        <br/>
        <b>Essaims de systèmes autonomes (drones) hétérogènes : enjeux et principaux verrous</b><br/>
        <em>Serge Chaumette</em>
        {# <br/>
        <br/>
        <em>Juan-Antonio Escareno</em> #}
        </td>
        <td class="text-right fs-2"><big>TD33</big></td>
    </tr>
    <tr>
        <td>
        <b>Plateformes</b><br/>
        <em>Olivier Ly</em>
        </td>
        <td class="text-right fs-2"><big>TD36</big></td>
    </tr>

    <tr>
        <td>12:00</td>
        <td colspan="2" class="text-center">
            <a href="https://goo.gl/maps/osdhCvBp4ynyDwtr8" target="_blank"><b>Déjeuner au restaurant: Le Spot</b></a>
        </td>
    </tr>
    
    <tr>
        <td>15:00</td>
        <td>
            <b>Restitution des ateliers, avec leurs questions scientifiques ouvertes</b>
        </td>
        <td class="text-right fs-2"><big>Amphi 31</big></td>
    </tr>

    <tr>
        <td>16:00</td>
        <td colspan="2" class="text-center">
            <b>Clôture</b>
        </td>
    </tr>

    </table>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/events.js') }}"></script>
{% endblock %}
